<% content_for :page_title, 'Questions' %>
<%currently_at(yield :page_title)%>

<h1> All Questions </h1>
<%= paginate @questions %>

<%=link_to 'Ask question', new_question_path, class: 'mb-2 btn btn-primary'%>
<%@questions.each do |question|%>
  <article class='card mb-2'>
    <div class='card-body'>
      <h4> <%=question.title%></h4>
      <p><%= truncate(question.body, length: 50) %></p>

      <%=link_to 'Show', question_path(question), class: 'btn btn-success'%>
      <%=link_to 'Edit', edit_question_path(question), class: 'btn btn-primary'%>
      <%=link_to 'Delete', question_path(question), data: {method: :delete, confirm: 'Are your sure?'},
                          class: 'btn btn-danger'%>      
    </div>
  </article>
<%end%>