<h1> Queston number <%=@question.id%> </h1>
  <article class='card mb-2'>
    <div class='card-body'>
      <h4> <%=@question.title%></h4>
      <p> <%=@question.body %><p>
      
      <%=link_to 'Edit', edit_question_path(@question), class: 'btn btn-primary'%>
      <%=link_to 'Delete', question_path(@question), data: {method: :delete, confirm: 'Are your sure?'},
                          class: 'btn btn-danger'%>      
    </div>
  </article>
  
  <%=render 'shared/errors', object: @answer%>
  
  <%=form_with model: [@question, @answer] do |f|%>
    <div class='mb-1 row'>
      <div class='col-sm-12 col-form-label'>
        <%=f.text_area :body, size: '75x5', placeholder: 'Get your answer?', 
                            class: 'from-control'%>
      </div>
    </div>
    <div class='p-1'>
      <%=f.submit class: 'btn btn-primary'%>
    </div>
  <%end%>
  
  <h4 class='mt-5'> Answers </h4>
<%@answers.each do |answer|%>
  <article class='mb-3'>
      <time>
      <%=answer.created_at %>
      </time>
      <p>
      <%=answer.body %>  
      <p>
      <p>
      <%=link_to 'Delete', question_answer_path(@question, answer),
                          data: {method: :delete, confirm: 'Are your sure?'},
                          class: 'btn btn-danger btn-sm'%> 
      <p>
  </article>
  <%end%>



