<%content_for :page_title, 'Question' %>
<%currently_at%>

<h1> Queston number <%=@question.id%> </h1>
  <article class='card mb-2'>
    <div class='card-body'>
      <h4> <%=@question.title%></h4>
      <p> <%=@question.body %><p>
      
      <%=link_to 'Edit', edit_question_path(@question), class: 'btn btn-primary'%>
      <%=link_to 'Delete', question_path(@question), data: {method: :delete, confirm: 'Are your sure?'},
                          class: 'btn btn-danger'%>      
    </div>
  </article>
  
  <%=render 'shared/errors', object: @answer%>
  
  <%=render 'answers/form'%>
  
  <h4 class='mt-5'> Answers </h4>
<%# <%@answers.each do |answer|%>
<%# <%end%> 

<%# instad fo cycle we can use render with convention fo configurations %>
<%# <%=render @answers%>

<%# or we can specify explicitly, if we will be use partial in othe places for example %>

<%=render partial: 'answers/answer', collection: @answers, as: :answer,
                                  locals: { question: @question }%>


